<section class="formContainer">
  <form style="margin-top: 20px;" fxLayout="column" fxLayoutAlign="center center" #edited="ngForm" (ngSubmit)="onSubmit(edited)">
    <mat-form-field appearance="fill">
      <mat-label for="id">Employee ID</mat-label>
      <input
        type="text"
        matInput
        [ngModel]="emp.id"
        name="id"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label for="firstName">Employee Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Name"
        [ngModel]="emp.firstName"
        name="firstName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label for="lastName">Employee Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Name"
        [ngModel]="emp.lastName"
        name="lastName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="email">Employee Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email Address"
        [ngModel]="emp.userEmail"
        name="userEmail"
        email
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="positionType">Position Type</mat-label>
        <mat-select required [ngModel]="emp.positionType" name="positionType">
          <mat-option *ngFor="let position of posTypes" [value]="position">
            {{position}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label for="startDate">Start Date</mat-label>
      <input
        type="text"
        matInput
        [matDatepicker]="picker"
        [ngModel]="emp.startDate"
        name="startDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button
      style="margin-left: 5px;"
      mat-raised-button color="primary"
      type="submit"
      [disabled]="!edited.valid"
    >Submit
    </button>
    <button style="margin-left: 5px;" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    <button style="margin-left: 5px;" mat-raised-button color="accent" routerLink="/">Back To Employees</button>
  </form>
</section>
